@charset "utf-8";

@font-face {
   font-family: "Cafe24Ssurround";
   src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "SuncheonB";
   src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}

/* 본문폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

body {
   background-color: #ecf5f6;
   background: #ecf5f6;
}

body {
   font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
   color: #212529;
   position: relative;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

body::-webkit-scrollbar {
   width: 8px;
   height: 8px;
   background: #ffffff;
}

body::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: #289ca4;
}

body::-webkit-scrollbar-track {
   background: #ffffff;
}

.btn {
   padding: 0;
   margin: 0;
   border: 0;
   border-radius: 0;
}

.btn:focus {
   outline: none;
   box-shadow: none;
}

input,
button,
a {
   outline: none !important;
}

input {
   -webkit-appearance: none;
   border-radius: 0;
   -webkit-border-radius: 0;
}

p {
   margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: 1rem;
   padding: 0;
   margin: 0;
}

a {
   display: inline-block;
   text-decoration: none;
}

ul,
ul li {
   padding: 0;
   margin: 0;
   list-style: none;
}

hr {
   opacity: 1;
   color: #ddd;
}

img {
   image-rendering: -webkit-optimize-contrast;
}

.wrap {
   max-width: 1920px;
   overflow: hidden;
   margin: 0 auto;
}
.col-text {
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: flex-start;
}
section {
   min-height: 900px;
   display: flex;
   align-items: center;
}
.sec-white {
   background-color: white;
}
section .row {
   max-width: 1440px;
   margin: 0 auto;
   justify-content: space-between;
}

section h2 {
   font-family: "SuncheonB";
   font-weight: bold;
   font-size: 2.8rem;
   color: #289ca4;
}

section h2.bak-h2 {
   padding: 0.5rem 2rem 0.5rem 1rem;
   background: url(../image/tit-bak.png) no-repeat;
   background-size: 100% 60%;
   background-position: left bottom;
}

section .col-text p {
   margin: 2rem 0;
   font-size: 1.4rem;
   line-height: 2.6rem;
}

.bak-tri1 {
   width: 0px;
   height: 0px;
   border-top: 100px solid #b3e0e2;
   border-left: 0px solid transparent;
   border-right: 1920px solid transparent;
}

.bak-tri2 {
   width: 0px;
   height: 0px;
   border-bottom: 100px solid #b3e0e2;
   border-left: 0px solid transparent;
   border-right: 1920px solid transparent;
}

.bak-tri3 {
   background-color: white;
   width: 0px;
   height: 0px;
   border-top: 100px solid #b3e0e2;
   border-left: 0px solid transparent;
   border-right: 1920px solid transparent;
}

.top-move {
   position: fixed;
   top: 50%;
   right: 6px;
   background: transparent;
   margin: 0;
   padding: 0;
   border: none;
   display: none;
   font-size: 1.4rem;
   color: #289ca4;
   text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
   -webkit-text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
   z-index: 30;
}
.top-move:focus {
   outline: none;
}

/* section1 */

section.sec1 {
   background: url(../image/sec1-bak.svg) no-repeat;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   min-height: 900px;
}

section.sec1 .row {
   margin-bottom: 6em;
}

section.sec1 .text-center img {
   image-rendering: -webkit-optimize-contrast;
   width: 100%;
}

section.sec1 h1 {
   margin-bottom: 2rem;
}

section.sec1 p {
   color: white;
   font-size: 1.3rem;
   line-height: 2rem;
   font-weight: 500;
   margin: 2rem 0 3rem;
}

section.sec1 .goto-store a {
   margin-right: 1rem;
}

section.sec1 .tag-wrap {
   height: auto;
   margin-top: 3rem;
}

section.sec1 .tag-wrap span {
   text-align: center;
   display: inline-block;
   padding: 0.5rem 2rem;
   min-width: 150px;
   margin-right: 1rem;
   border-radius: 2rem;
   border: 2px solid #289ca4;
   background-color: white;
   font-size: 1.2rem;
   color: #289ca4;
   font-weight: 700;
}

/* sec-mov */

section.sec-mov {
   min-height: 900px;
   display: flex;
   justify-content: center;
   align-items: center;
}

section.sec-mov .container {
   max-width: 900px;
}

section.sec-mov .mov-wrap {
   position: relative;
   width: 100%;
   height: 0;
   padding-bottom: 56.25%;
}

section.sec-mov .mov-wrap iframe {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   width: 100%;
   height: 100%;
}

/* section2 */

section.sec2 {
   max-height: 700px;
}

section.sec2 .img-wrap > img {
   image-rendering: -webkit-optimize-contrast;
   max-width: 90%;
   height: auto;
}

section.sec2 h2 {
   color: #212529;
   font-family: "SuncheonB";
   font-weight: bold;
   font-size: 2.4rem;
   letter-spacing: -1px;
   line-height: 3.5rem;
}
section.sec2 h2::before {
   content: "“";
   font-size: 3.2rem;
   font-weight: normal;
}
section.sec2 h2::after {
   content: "”";
   font-size: 3.2rem;
   font-weight: normal;
}
section.sec2 h2 span {
   font-size: 3rem;
   padding-left: 2rem;
   color: #289ca4;
}
section.sec2 .col-text > p {
   margin-left: 1rem;
}
section.sec2 .col-text > p span {
   color: #289ca4;
   font-weight: 700;
}

section.sec2 ul.icon-list {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
}
section.sec2 ul.icon-list li {
   width: 50%;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   align-items: center;
}

section.sec2 ul.icon-list li h3 {
   margin-left: 1rem;
}

section.sec2 ul.icon-list li p {
   font-size: 1.2rem;
   font-weight: 700;
   color: #289ca4;
   margin: 0;
   padding: 0;
   margin-bottom: 6px;
   line-height: unset;
}

section.sec2 ul.icon-list li span {
   line-height: 1.3em;
   font-weight: normal;
}

.bak-gr {
   width: 100%;
   height: 300px;
   background: linear-gradient(180deg, #ecf5f6 0%, #b3e0e2 100%);
}

/* section3 */

section.sec3 {
   background: url(../image/sec3-bak.svg) no-repeat;
   background-position: 95% top;
   background-color: #b3e0e2;
}

/* section4 */

section.sec4 {
   background: url(../image/sec4-bak.svg) no-repeat;
   background-position: 5% 10%;
}

/* section5 */

section.sec5 {
   background: url(../image/sec5-bak.svg) no-repeat;
   background-position: 95% top;
   background-color: #b3e0e2;
}

/* section6 */

section.sec6 {
   min-height: 800px;
   align-items: flex-end;
   padding-bottom: 5rem;
}

section.sec6 h2 {
   color: #212529;
   line-height: 4rem;
   margin-top: 2rem;
   margin-left: 1rem;
}
section.sec6 h2 span {
   color: #289ca4;
}
section.sec6 h4 {
   font-size: 2rem;
   font-weight: 400;
   margin: 1.5rem 0;
}
section.sec6 h4 span {
   font-size: 2.8rem;
   font-weight: 500;
   color: #289ca4;
}
section.sec6 p {
   margin: 0;
   padding: 0;
   margin-bottom: 1.5rem;
   font-weight: 300;
}
section.sec6 p:last-of-type {
   margin-bottom: 0;
}

section.sec6 .col-lg-5 img {
   max-width: 500px;
}

/* section7 */

section.sec7 {
   min-height: 1200px;
   flex-flow: column nowrap;
   justify-content: center;
}

section.sec7 .row {
   width: 100%;
}

section.sec7 .tit {
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: center;
   margin-bottom: 4rem;
}
section.sec7 .tit h3 {
   margin-bottom: 2rem;
}
section.sec7 .tit p {
   font-size: 1.4rem;
   line-height: 2.4rem;
}

section.sec7 .multiply {
   padding: 0 2rem;
}
section.sec7 .multiply img {
   image-rendering: -webkit-optimize-contrast;
   width: 60px;
   height: 60px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
section.sec7 form {
   width: 90%;
}
section.sec7 form label {
   display: none;
}
section.sec7 form input,
section.sec7 form textarea {
   border: 1px solid #289ca4;
   width: 100%;
   padding: 0.8rem 1rem;
   margin-bottom: 1rem;
   border-radius: 5px;
   font-size: 1.3rem;
}

section.sec7 form input::placeholder,
section.sec7 form textarea::placeholder {
   color: #289ca4;
   font-weight: 600;
}
section.sec7 form textarea {
   min-height: 200px;
}
section.sec7 form textarea::-webkit-scrollbar {
   width: 8px;
   height: 8px;
   background: #ffffff;
}
section.sec7 form textarea::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: #289ca4;
}
section.sec7 form textarea::-webkit-scrollbar-track {
   background: #ffffff;
}

section.sec7 form input[type="submit"] {
   background-color: #289ca4;
   color: white;
   font-size: 1.4em;
   letter-spacing: 3px;
   font-weight: 700;
   border-radius: 30px;
}

section.sec7 .text-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

/* footer */

footer.footer {
   padding: 5rem 0 3rem;
   background-color: #eee;
   display: flex;
   align-items: center;
}

footer.footer .download {
   margin-top: 2rem;
}
footer.footer .download p {
   font-size: 1.2rem;
   font-weight: 700;
}
footer.footer .goto-store > a {
   margin-right: 10px;
}
footer.footer .footer-text {
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: flex-start;
}
footer.footer .footer-text p,
footer.footer .footer-text a {
   line-height: 2.6rem;
   font-size: 1.1rem;
   color: #212529;
}
footer.footer .footer-text a:hover {
   transition: 0.3s;
   color: #999;
}
footer.footer .row > article:last-of-type {
   border-left: 2px solid #ccc;
   padding-left: 3rem;
}
footer.footer b {
   font-weight: normal;
}
footer.footer .copyright {
   margin-top: 7rem;
   text-align: center;
}

footer.footer .download img {
   width: 160px;
}

@media (max-width: 1440px) {
   section .row {
      max-width: 1280px;
   }

   section.sec7 .col-lg-6 img {
      width: 100%;
   }
   .bak-ch img {
      max-width: 1200px;
      width: 80%;
   }
}

@media (max-width: 1280px) {
   section {
      min-height: 700px;
   }
   section .row {
      max-width: 1000px;
   }
   section h2 {
      font-size: 2.2rem;
   }
   section .col-text p {
      font-size: 1.2rem;
      line-height: 2rem;
   }

   section.sec1 p {
      font-size: 1.2rem;
      line-height: 1.6rem;
      margin: 1.5rem 0 2rem;
   }
   section.sec1 .tag-wrap {
      margin-top: 2rem;
   }
   section.sec1 .tag-wrap span {
      padding: 0.4rem 1rem;
      min-width: 140px;
      margin-right: 0.5rem;
      font-size: 1.1rem;
   }

   section.sec2 h2 {
      font-size: 2rem;
      line-height: 3rem;
   }
   section.sec2 h2 span {
      font-size: 2.5rem;
      padding-left: 2rem;
   }
   section.sec2 ul.icon-list li {
      margin-bottom: 1rem;
   }
   section.sec2 h2::before,
   section.sec2 h2::after {
      font-size: 2.7rem;
   }
   section.sec2 ul.icon-list li img {
      width: 70px;
      height: 70px;
   }
   section.sec2 ul.icon-list li h3 {
      margin-left: 0rem;
   }

   section.sec2 ul.icon-list li p {
      font-size: 1.1rem;
   }
   section.sec2 ul.icon-list li span {
      font-size: 0.9rem;
   }

   section.sec6 h2 {
      line-height: 3rem;
   }
   section.sec6 .col-lg-5 img {
      width: 100%;
   }
   section.sec6 p {
      margin-bottom: 1rem;
   }
   section.sec6 h4 {
      font-size: 1.5rem;
      margin: 0 0 1rem;
   }
   section.sec6 h4 span {
      font-size: 2.5rem;
   }
   section.sec3 .text-center img,
   section.sec4 .text-center img,
   section.sec5 .text-center img {
      width: 80%;
   }
   footer.footer .row > article:last-of-type {
      padding-left: 1.5rem;
   }
}

@media (max-width: 991px) {
   section,
   section.sec2 {
      min-height: unset;
      max-height: unset;
   }
   section.sec-mov {
      min-height: unset;
      height: 70vh;
   }
   section h2 {
      font-size: 2rem;
   }
   section .col-text p {
      font-size: 1rem;
   }
   section.sec1 .text-center {
      display: none;
   }
   section.sec1 .row {
      width: 90%;
   }
   section.sec2 h2 {
      margin-top: 3rem;
   }
   section.sec2 .col-text {
      justify-content: center;
      align-items: center;
   }
   section.sec2 .col-text > * {
      text-align: center;
   }
   section.sec2 .col-text > p {
      margin-left: 0;
      width: 100%;
      max-width: 500px;
   }
   section.sec2 .img-wrap {
      text-align: center;
   }
   section.sec2 .img-wrap > img {
      width: 90%;
      max-width: 450px;
      display: inline-block;
   }
   section.sec2 ul.icon-list {
      text-align: left;
      width: 100%;
      max-width: 500px;
   }
   section.sec2 ul.icon-list li h3 {
      margin-left: 0.5rem;
   }

   section.sec3 .row,
   section.sec4 .row,
   section.sec5 .row {
      width: 95%;
   }
   section.sec3 .row,
   section.sec5 .row {
      flex-flow: column-reverse;
   }
   section.sec3,
   section.sec4,
   section.sec5 {
      background-size: 35%;
   }
   section.sec3 .text-center,
   section.sec4 .text-center,
   section.sec5 .text-center {
      padding: 5rem 0 2rem;
   }
   section.sec3 .text-center img {
      width: 80%;
   }
   section.sec4 .text-center img,
   section.sec5 .text-center img {
      width: 70%;
   }
   section.sec4 .col-text {
      padding-bottom: 4rem;
   }
   .bak-tri1,
   .bak-tri2,
   .bak-tri3 {
      border-right: 1000px solid transparent;
   }

   section.sec6 {
      padding: 6rem 0 3rem;
   }
   section.sec6 h2 {
      padding: 1rem 0 3rem;
      margin: 0;
      text-align: center;
   }
   section.sec6 .col-text {
      width: 90%;
      margin: 0 auto;
   }
   section.sec6 .col-lg-5 {
      display: inline-block;
      text-align: center;
   }
   .bak-ch img {
      width: 90%;
   }

   section.sec7 {
      min-height: unset;
      padding: 6rem 0;
   }

   section.sec7 .tit {
      margin-bottom: 2rem;
      width: 90%;
   }
   section.sec7 .tit h3 {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
   }
   section.sec7 .tit h3 i {
      display: inline-block;
      text-align: center;
      margin: 0.5rem 0;
   }
   section.sec7 .tit h3 i:nth-of-type(1) img,
   section.sec7 .tit h3 i:nth-of-type(3) img {
      width: 60%;
   }
   section.sec7 .multiply img {
      width: 40px;
      height: 40px;
      margin: 0;
      padding: 0;
   }
   section.sec7 .tit p {
      margin: 0 auto;
      text-align: center;
      font-size: 1rem;
      line-height: 1.6rem;
   }
   section.sec7 form {
      width: 100%;
   }
   section.sec7 form input,
   section.sec7 form textarea {
      font-size: 1.1rem;
      padding: 0.5rem 0.5rem 0.4rem;
   }
   section.sec7 form input[type="submit"] {
      font-size: 1.2rem;
   }
   section.sec7 .text-center {
      display: none;
   }
   footer.footer .row > article:last-of-type {
      border: none;
      padding: 0;
      padding-left: 1rem;
      margin: 2rem 0;
   }
   footer.footer .footer-text p,
   footer.footer .footer-text a {
      display: inline;
      line-height: 2.2rem;
      font-size: 1rem;
   }
   footer.footer .copyright {
      margin-top: 4rem;
      font-size: 0.8rem;
   }
}

@media (max-width: 568px) {
   section h2.bak-h2 {
      padding: 0.3rem 1rem 0.3rem 1rem;
   }
   section.sec1 {
      min-height: 100vh;
      background-size: auto 100%;
   }

   section.sec1 .row {
      width: 95%;
   }
   section.sec1 .tag-wrap span {
      min-width: unset;
      font-size: 0.8rem;
      margin-right: 0.1rem;
      padding: 0.3rem 0.6rem;
   }
   section.sec1 .goto-store a {
      margin-right: 0.2rem;
   }

   section.sec1 h1 > i > img {
      width: 70px;
   }
   section.sec1 .col-text > i > img {
      width: 250px;
   }
   section.sec1 .goto-store img {
      width: 130px;
   }

   section h2 {
      font-size: 1.6rem;
   }
   section.sec2 h2 {
      padding: 0;
      line-height: 2.2rem;
   }
   section.sec2 h2 span {
      font-size: 2rem;
   }
   section.sec2 ul.icon-list li {
      width: 100%;
      justify-content: center;
      margin-bottom: 2rem;
   }
   section.sec3 .col-text img,
   section.sec4 .col-text img,
   section.sec5 .col-text img {
      width: 60px;
   }
   .bak-gr {
      height: 200px;
   }
   section.sec6 h2 {
      line-height: 2.2rem;
   }
   section.sec6 h4 span {
      font-size: 1.6rem;
   }
   section.sec6 h4 {
      font-size: 1.2rem;
   }
   footer.footer b {
      display: none;
   }
   footer.footer span {
      display: block;
   }
   footer.footer .col-lg-5 > img {
      width: 200px;
   }
   footer.footer .download img {
      width: 140px;
   }
}

@media (max-width: 320px) {
   section.sec1 .row {
      width: 98%;
   }
   section.sec1 .goto-store img,
   footer.footer .download img {
      width: 120px;
   }
   section.sec1 .tag-wrap {
      width: 105%;
   }
   section.sec1 .tag-wrap span {
      margin: 0;
      border: 1px solid #289ca4;
      letter-spacing: -1px;
   }
   section.sec2 h2 {
      letter-spacing: -2px;
      text-indent: -30px;
   }
   section.sec2 h2 span {
      padding-left: 0rem;
   }
   footer.footer .footer-text p,
   footer.footer .footer-text a {
      font-size: 0.8rem;
      line-height: 1.6rem;
   }
   footer.footer .row > article:last-of-type {
      padding-left: 0.3rem;
   }
   footer.footer .goto-store > a {
      margin-right: 2px;
   }
}
