@charset "utf-8";

@font-face {
   font-family: "Cafe24Ssurround";
   src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "SuncheonB";
   src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}

/* 본문폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

body {
   background-color: #ecf5f6;
   background: #ecf5f6;
}

body {
   font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
   color: #212529;
   position: relative;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

body::-webkit-scrollbar {
   width: 8px;
   height: 8px;
   background: #ffffff;
}

body::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: #289ca4;
}

body::-webkit-scrollbar-track {
   background: #ffffff;
}

.btn {
   padding: 0;
   margin: 0;
   border: 0;
   border-radius: 0;
}

.btn:focus {
   outline: none;
   box-shadow: none;
}

input,
button,
a {
   outline: none !important;
}

input {
   -webkit-appearance: none;
   border-radius: 0;
   -webkit-border-radius: 0;
}

p {
   margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: 1rem;
   padding: 0;
   margin: 0;
}

a {
   display: inline-block;
   text-decoration: none;
}

ul,
ul li {
   padding: 0;
   margin: 0;
   list-style: none;
}

hr {
   opacity: 1;
   color: #ddd;
}

.wrap {
   overflow: hidden;
}
.col-text {
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: flex-start;
}
section {
   min-height: 1000px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.sec-white {
   background-color: white;
}
section .row {
   max-width: 1440px;
   margin: 0 auto;
   justify-content: space-between;
}

section h2 {
   font-family: "SuncheonB";
   font-weight: bold;
   font-size: 2.5rem;
   color: #289ca4;
   padding: 0 3rem 0.3rem 1.2rem;
}

section h2.bak-h2 {
   background: url(../image/tit-bak.png) no-repeat;
   background-size: 100% 70%;
   background-position: left bottom;
}

section .col-text p {
   margin: 2rem 0 1.5rem;
   font-size: 1.3rem;
   line-height: 2.4rem;
}

/* section1 */

section.sec1 {
   background: url(../image/sec1-bak.svg) no-repeat;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
}

section.sec1 .row {
   margin-bottom: 6em;
}

section.sec1 .text-center img {
   width: 100%;
}

section.sec1 h1 {
   margin-bottom: 2rem;
}

section.sec1 p {
   color: white;
   font-size: 1.3rem;
   line-height: 1.6rem;
   font-weight: 500;
   margin: 2rem 0 3rem;
}

section.sec1 .goto-store a {
   margin-right: 1rem;
}

section.sec1 .tag-wrap {
   height: auto;
   margin-top: 3rem;
}

section.sec1 .tag-wrap span {
   text-align: center;
   display: inline-block;
   padding: 0.5rem 2rem;
   min-width: 150px;
   margin-right: 1rem;
   border-radius: 2rem;
   border: 2px solid #289ca4;
   background-color: white;
   font-size: 1.2rem;
   color: #289ca4;
   font-weight: 700;
}

/* sec-mov */

section.sec-mov {
   min-height: 900px;
   display: flex;
   justify-content: center;
   align-items: center;
}

section.sec-mov .container {
   max-width: 1000px;
}

section.sec-mov .mov-wrap {
   position: relative;
   width: 100%;
   height: 0;
   padding-bottom: 56.25%;
}

section.sec-mov .mov-wrap iframe {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   width: 100%;
   height: 100%;
}

/* section2 */

section.sec2 {
   max-height: 700px;
}

section.sec2 .img-wrap > img {
   max-width: 90%;
   height: auto;
}

section.sec2 h2 {
   color: #212529;
   font-family: "SuncheonB";
   font-weight: bold;
   font-size: 2.2rem;
   letter-spacing: -1px;
   line-height: 3.5rem;
}
section.sec2 h2::before {
   content: "❝";
   font-size: 3.5rem;
   font-weight: normal;
}
section.sec2 h2::after {
   content: "❞";
   font-size: 3.5rem;
   font-weight: normal;
}
section.sec2 h2 span {
   font-size: 3rem;
   padding-left: 2.4rem;
   color: #289ca4;
}
section.sec2 .col-text > p {
   margin-left: 1rem;
}
section.sec2 .col-text > p span {
   color: #289ca4;
   font-weight: 700;
}

section.sec2 ul.icon-list {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
}
section.sec2 ul.icon-list li {
   width: 50%;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   align-items: center;
}

section.sec2 ul.icon-list li h3 {
   margin-left: 1rem;
}

section.sec2 ul.icon-list li p {
   font-size: 1.2rem;
   font-weight: 700;
   color: #289ca4;
   margin: 0;
   padding: 0;
   margin-bottom: 6px;
   line-height: unset;
}

section.sec2 ul.icon-list li span {
   line-height: 1.3em;
   font-weight: normal;
}

.bak-gr {
   width: 100%;
   height: 300px;
   background: linear-gradient(180deg, #ecf5f6 0%, #b3e0e2 100%);
}

/* section3 */

section.sec3 {
   background: url(../image/sec3-bak.svg) no-repeat;
   background-position: 95% top;
   background-color: #b3e0e2;
}

/* section4 */

section.sec4 {
   background: url(../image/sec4-bak.svg) no-repeat;
   background-position: 5% 10%;
}

/* section5 */

section.sec5 {
   background: url(../image/sec5-bak.svg) no-repeat;
   background-position: 95% top;
   background-color: #b3e0e2;
}

/* section6 */

section.sec6 {
}

/* section7 */

section.sec7 {
   flex-flow: column nowrap;
   justify-content: flex-start;
}

section.sec7 .tit {
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: center;
}

section.sec7 .multiply {
   padding: 0 2rem;
}
section.sec7 .multiply img {
   width: 60px;
   height: 60px;
}

/* footer */

footer.footer {
   background-color: #eee;
}

footer.footer .row > article:first-of-type {
   border-right: 2px solid #ccc;
}

@media (max-width: 1440px) {
   section .row {
      max-width: 1280px;
   }
}

@media (max-width: 1280px) {
   section .row {
      max-width: 1000px;
   }
}
